<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/groupcard.css}"/>
</head>
<body>
<div th:insert="/layouts/header"></div>
<div th:insert="/layouts/rightside"></div>
<div class="sectionWrap">
    <h2 class="groupTitle">충전</h2>
    <div class="sectionContents">
        <div class="date1">
        <p th:text="${#dates.format(joinedUsers.get(0).getRecharge().getCreatedDate(),'yyyy-MM-dd')}"></p>
            &nbsp;
        <p>일자 - 충전 상태 -</p>
            &nbsp;
        <p th:text="${joinedUsers.get(0).getRecharge().getState()}"></p>
        </div>
        <div class="date2">
            <p>현재 그룹 충전 금액: </p>
            &nbsp;
            <p th:text="${chargingAmount}"></p>
        </div>
        <div class="date3">
        <p>충전 만료 기간: </p>
            &nbsp;
        <p th:text="${#dates.format(joinedUsers.get(0).getRecharge().getExpirationDate(),'yyyy-MM-dd')}"></p>
        </div>
        <table>
            <thead>
            <tr>
                <th>이름</th>
                <th>직위</th>
                <th>충전금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="joineduser : ${joinedUsers}">
                <td th:text="${joineduser.getGroupUser().getUser().getUsername()}"></td>
                <td th:if="${joineduser.getGroupUser().isAdministrator()}">관리자</td>
                <td th:unless="${joineduser.getGroupUser().isAdministrator()}">그룹원</td>
                <td th:if="${joineduser.isPayed()}" th:text="${joineduser.getRechargeAmount()}"></td>
                <td th:unless="${joineduser.isPayed()}">0</td>
            </tr>
            <tr>
                <th>나의 결제 금액</th>
                <th>총 결제 금액</th>
            </tr>
            <tr th:if="${joinedUsers.size() > 0}">
                <td th:text="${joinedUsers.get(0).getRecharge().getRechargeAmount()}"></td>
                <td th:text="${joinedUsers.get(0).getRecharge().getRechargeAmount()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:if="${checkPayed}">
    <script>
        alert('이미 결제 하셨습니다.');
    </script>
</div>
<div class="amount" th:unless="${checkPayed}">
    <form method="post" th:action="@{/manageGroup/recharge/pay/{seq}(seq=${onProgressRecharge.getSeq()})}">
        <button type="submit">결제 요청</button>
    </form>
</div>

<footer class="footer"></footer>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        var firstRechargeAmount = document.querySelector('.recharge-amount');
        var firstTotalRechargeAmount = document.querySelector('.total-recharge-amount');

        if (firstRechargeAmount && firstTotalRechargeAmount) {

            var rechargeAmount = firstRechargeAmount.innerText;
            var totalRechargeAmount = firstTotalRechargeAmount.innerText;


            document.querySelectorAll('.recharge-amount').forEach(function (element) {
                element.innerText = rechargeAmount;
            });

            document.querySelectorAll('.total-recharge-amount').forEach(function (element) {
                element.innerText = totalRechargeAmount;
            });
        }
    });
</script>
</body>
</html>