<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/groupcard.css}" />
</head>
<body>
<div th:insert="/layouts/header"></div>

<div th:insert="/layouts/rightside"></div>
<div class="sectionWrap">
    <h2 class="groupTitle" id="My Group Reword">충전</h2>
    <div class="sectionContent2">

    </div>
</div>
<div>
    <form method="post" th:action="@{/manageGroup/recharge/request/pay/{seq}}" id="processingPayment">
        <label>결제방식</label>
        <select>
            <option value="groupcard">그룹카드</option>
            <option value="creditcard">신용카드</option>
            <option value="grouppoint">그룹포인트</option>
        </select>
        <label>충전금액</label>
        <input type="number">
        <button type="submit">결제 요청</button>
    </form>
</div>


<footer class="footer"></footer>

</body>
</html>