<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/groupcard.css}" />
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
<div th:insert="/layouts/header"></div>
<div class="nav">
<nav>
    <a class="a" th:href="@{/manageGroup/groupInfo}">그룹 정보</a>
    <a class="a" th:href="@{/manageGroup/recharge/request/form}">충전 요청</a>
</nav>
</div>
<div class="sectionWrap">
    <h2 class="groupTitle">그룹원 정보</h2>
    <div class="sectionContent2">
        <h4 class="contentTitle2">
            <table>
                <thead>
                <tr>
                    <th>이름</th>
                    <th>직위</th>
                    <th>양심금</th>
                    <th>월간 사용 금액</th>
                    <th>최근 충전 현황</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="groupuser : ${groupUsers}">
                    <td th:text="${groupuser.getUser().getUsername()}">
                    <td th:if="${groupuser.isAdministrator()}">관리자</td>
                    <td th:unless="${groupuser.isAdministrator()}">그룹원</td>
                    <td th:text="${groupuser.getPairShareAmount()}"></td>
                    <td th:text="${groupuser.getMonthlyUsedAmount()}"></td>
                    <td th:text="${groupuser.getRecentlyChargedDate()}"></td>
                </tr>
                </tbody>
            </table>
        </h4>
    </div>
</div>
<div class="sectionWrap">
    <h2 class="groupTitle">그룹 현황</h2>
    <div class="sectionContent2">
    </div>
</div>
<div th:insert="/layouts/rightside"></div>
<footer class="footer"></footer>
</body>
</html>