<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/groupcard.css}" />
</head>
<body>
<div th:insert="/layouts/header"></div>
<div class="nav">
<nav>
    <a class="a" th:href="@{/manageGroup/groupInfo}">그룹 정보</a>
    <a class="a" th:href="@{/manageGroup/recharge/form}">충전</a>
    <a class="a" th:href="@{/manageGroup/rechargeHistory}">충전 내역</a>
</nav>
</div>
<div class="sectionWrap">
    <h2 class="groupTitle">그룹원 정보</h2>
    <div class="sectionContent2">
        <h4 class="contentTitle2">
            <tr th:each="groupuser : ${groupUsers}">
                <td th:text="${groupuser.getUser().getUsername()}">
                </td>
            </tr>
        </h4>
    </div>
</div>
<div class="sectionWrap">
    <h2 class="groupTitle">그룹원 정보</h2>
    <div class="sectionContent2">
        <h4 class="contentTitle2">브론즈 그룹 카드는 한잔당 3%의 할인을 받으며 최대 8% 까지 할인을 받을 수 있습니다!<br><br><br>
            또한 그룹 전체의 월간 사용 금액이 25만원이 초과하면 실버 그룹으로 승격하여<br><br><br>
            더 많은 혜택을 누릴 수 있습니다!<br>
        </h4>
    </div>
</div>
<div th:insert="/layouts/rightside"></div>
<footer class="footer"></footer>
</body>
</html>