<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/groupcard.css}" />
</head>
<body>
<div th:insert="/layouts/header"></div>
<div class="nav">
    <nav>
        <a class="a" th:href="@{/manageGroup/groupInfo}">그룹 정보</a>
        <a class="a" th:href="@{/manageGroup/recharge/request/form}">충전</a>
        <a class="a" th:href="@{/manageGroup/rechargeHistory}">충전 내역</a>
    </nav>
</div>
<div class="sectionWrap">
    <h2 class="groupTitle">충전 내역</h2>
    <div class="sectionContent2">
        <h4 class="contentTitle2">
        </h4>
    </div>
</div>
<div th:insert="/layouts/rightside"></div>
<footer class="footer"></footer>
</body>
</html>