body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.asideWrap {
  position: fixed;
  margin-left: 1%;
  height: 35vh;
  width: 10%;
  padding-left: 20px;
  top: 110px;
}

.asideTitle {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #d0aa8f;
  background: linear-gradient(180deg, #f9f9f9 0%, rgba(249, 249, 249, 0) 30%);
}

.asideSub {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.5px;
  color: #000000;
}

.sectionWrap {
  margin-left: 10%;
  position: relative;
  margin-top: 110px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.groupTitle {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.5px;
  color: #000000;
  position: relative;
}

.date1{
  display: flex;
  padding-left: 5px;
}

.date2{
  display: flex;
  padding-left: 5px;
}

.date3{
  display: flex;
  padding-left: 5px;
}

.amount{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  /*position: fixed;*/
  /*bottom: 0;*/
  position: relative;
  background: #f8f5f2;
  height: 10svh;
  width: 100%;
  margin-top: 20px;
}


.border {
  position: relative;
  margin-top: 30px;
}

.groupSection{
  display: flex;
  flex-direction: row;
}

.img{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 201px;
  height: 161px;
  background-image:url("../card.png");
  background-size: cover;
}

.sectionContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  background: #F8F5F2;
  width: 1000px;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px 12px 12px 12px;
}

.sectionContent2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F8F5F2;
  width: 1220px;
  height: 300px;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px 12px 12px 12px;
}
.sectionContent3{
  display: flex;
  flex-direction: column;
  background: #F8F5F2;
  width: 1220px;
  height: 360px;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px 12px 12px 12px;
}

.sectionContent4{
  display: flex;
  flex-direction: row;
  background: #F8F5F2;
  width: 1220px;
  height: 340px;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px 12px 12px 12px;
}

.sectionContents{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F8F5F2;
    width: 1220px;
    height: 400px;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.1);
    border-radius: 12px 12px 12px 12px;
}

@media (min-width: 1901px) {
  .sectionContent {
    width: 1300px;
  }
}

@media (min-width: 1901px) {
  .sectionContent2 {
    width: 1530px;
  }
}

.contentTitle {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #000000;
}

.contentTitle2 {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 200;
}

.makecardTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  padding-top: 20px;
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15.375px;
  line-height: 16px;
  color: #444444;
}

.makecrdsubTitle{
  display: flex;
  margin-left: 20px;
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13.5625px;
  line-height: 14px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #006633;
}

.makecrdsubTitle2{
  display: flex;
  margin-left: 20px;
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13.5625px;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #666666;
  text-decoration: none;
}

.makecrdsubTitle3{
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 13.5625px;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #666666;
  text-decoration: none;
  width: 10%;
  background-color: #b38758;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: white;
  margin-bottom: 300px;
}
.makecrdsubTitle3:hover {
  background-color: #a3764d;
}

.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}
