<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/groupcard.css}" />
    <title>Document</title>
  </head>
  <body>
    <div th:include="/layouts/header"></div>
    <div class="asideWrap">
      <h4 class="asideTitle">카테고리</h4>
      <p class="asideSub" onclick="scrollToSection('그룹 카드 란?')">
        그룹 카드 란?
      </p>
      <p class="asideSub" onclick="scrollToSection('그룹 카드 혜택')">
        그룹 카드 혜택
      </p>
      <p class="asideSub" onclick="scrollToSection('그룹 카드 만들기')">
        그룹 카드 만들기
      </p>
    </div>
    <h2 class="groupTitle" id="그룹 카드 란?">그룹 카드 란?</h2>
    <div class="img">
    </div>
    <h2 class="groupTitle2" id="그룹 카드 혜택">그룹 카드 혜택</h2>
    <div class="sectionWrap">

    </div>
    <h2 class="groupTitle3" id="그룹 카드 만들기">그룹 카드 만들기</h2>
    <div class="sectionWrap">

    </div>

    <div th:include="/layouts/rightside"></div>
    <footer class="footer"></footer>

    <script>
      function scrollToSection(sectionId) {
        var sectionElement = document.getElementById(sectionId);

        if (sectionElement) {
          var topOffset =
            sectionElement.getBoundingClientRect().top + window.scrollY;

          window.scrollTo({
            top: topOffset,
            behavior: "smooth",
          });
        }
      }
    </script>
  </body>
</html>
