<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
  <title>Document</title>
</head>
<body>
<div th:insert="/layouts/header"></div>
<div class="asideWrap">
  <h4 class="asideTitle">카테고리</h4>
  <p class="asideSub" onclick="scrollToSection('커피')">커피</p>
  <p class="asideSub" onclick="scrollToSection('차')">차</p>
  <p class="asideSub" onclick="scrollToSection('디저트')">디저트</p>
</div>

<h2 class="sectionTitle" id="커피">커피</h2>
<div class="search">
  <form th:action="@{/search-product}" method="get">
    <input class="input" type="text" id="inputMobileSearch" name="keyword"/>
    <select class="option" name="category">
      <option th:each="categoryOpt : ${T(com.db.coffeestore9.product.common.Category).values()}"
              th:value="${categoryOpt}"
              th:text="${categoryOpt.getDisplayName()}"></option>
    </select>
    <button type="submit" class="search-button">
      <img class="img" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" alt="Search Icon" />
    </button>
  </form>
</div>
<div class="sectionWrap" id="coffeeSection">
  <th:block th:each="product : ${products}">
    <div class="categoryBox" th:if="${product.getCategory().getDisplayName() eq '커피'}">
      <a th:href="@{/single-product/{seq}(seq=${product.getSeq()})}">
        <div class="product-summary">
          <strong th:text="${product.getName()}"></strong>
          <span th:text="${product.getPrice()} + '원'"></span>
        </div>
      </a>
    </div>
  </th:block>
</div>

<h2 class="sectionTitle" id="차">차</h2>
<div class="sectionWrap" id="teaSection">
  <th:block th:each="product : ${products}">
    <div class="categoryBox" th:if="${product.getCategory().getDisplayName() eq '차'}">
      <a th:href="@{/single-product/{seq}(seq=${product.getSeq()})}">
        <div class="product-summary">
          <strong th:text="${product.getName()}"></strong>
          <span th:text="${product.getPrice()} + '원'"></span>
        </div>
      </a>
    </div>
  </th:block>
</div>

<div th:insert="/layouts/rightside"></div>
<footer class="footer"></footer>

<script>
  function scrollToSection(sectionId) {
    var sectionElement = document.getElementById(sectionId);

    if (sectionElement) {
      var topOffset = sectionElement.getBoundingClientRect().top + window.scrollY - 130;

      window.scrollTo({
        top: topOffset,
        behavior: "smooth",
      });
    }
  }
</script>
</body>
</html>
