<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}"/>
    <title>장바구니</title>
</head>
<body>
<div th:insert="/layouts/header"></div>
<div class="container">
    <div>
        <h1 class="h1">장바구니</h1>
        <p class="p">구매하실 상품을 확인하세요.</p>
    </div>

    <div class="table">
        <table>
            <thead>
            <tr>
                <th scope="col">상품명</th>
                <th scope="col">가격</th>
                <th scope="col">수량</th>
                <th scope="col">삭제</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item : ${orders.getOrderContentList()}">
                <td th:text="${item.getProduct().getName()}"></td>
                <td th:text="${item.getProduct().getPrice()} * ${item.getCount()} + '원'"></td>
                <td>
                    <form class="editCountForm" method="post"
                          th:action="@{edit-product-count-from-cart/{seq}(seq=${item.getSeq()})}">
                        <input class="countInput" type="number" name="count" min="1" th:value="${item.getCount()}">
                    </form>
                </td>
                <td>
                    <form method="get" th:action="@{/delete-product-from-cart/{seq}(seq=${item.getSeq()})}">
                        <button type="submit" title="Remove item">X</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <div>
            <h3 class="h3">합계</h3>
            <table class="table">
                <tr>
                    <td>총 가격</td>
                    <td th:text="${totalPrice} + '원'"></td>
                </tr>
            </table>
            <div class="sibal">
            <a th:href="@{/order-page}" class="checkout-button">결제하기</a>
            </div>
        </div>
    </div>
</div>

<footer class="footer"></footer>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const editCountForm = document.querySelectorAll('.editCountForm');

        editCountForm.forEach(form => {
            form.addEventListener('keypress', function (event) {
                let key = event.which || event.keyCode;

                if (key === 13) {
                    let countInput = form.querySelector('.countInput');
                    let countValue = parseInt(countInput.value);

                    if (countValue >= 1) {
                        event.preventDefault();
                        form.submit();
                    } else {
                        event.preventDefault();
                        alert('1 이상의 숫자를 입력해주세요.');
                    }
                }
            });
        });
    });
</script>
</body>
</html>
